.charts__box {
  display: flex;
  gap: 2.4rem;
  margin-bottom: 2.6rem;

  &-chart,
  &-cards {
    border: 1px solid var(--gray-clr-light);
    border-radius: 5px;
    padding: 2.4rem;
  }

  &-chart {
    flex: 1 1 65%;
    .simple-bar-chart {
      --line-count: 10;
      --line-color: currentcolor;
      --line-opacity: 0.25;
      --item-gap: 2%;
      --item-default-color: var(--rose-dark);

      height: 30rem;
      display: grid;
      grid-auto-flow: column;
      gap: var(--item-gap);
      align-items: end;
      padding-inline: var(--item-gap);
      --padding-block: 1.5rem; /*space for labels*/
      padding-block: var(--padding-block);
      position: relative;
      isolation: isolate;

      &::after {
        content: '';
        position: absolute;
        inset: var(--padding-block) 0;
        z-index: -1;
        --line-width: 1px;
        --line-spacing: calc(100% / var(--line-count));
        background-image: repeating-linear-gradient(
          to top,
          transparent 0 calc(var(--line-spacing) - var(--line-width)),
          var(--line-color) 0 var(--line-spacing)
        );
        box-shadow: 0 var(--line-width) 0 var(--line-color);
        opacity: var(--line-opacity);
      }

      & > .item {
        height: calc(1% * var(--val));
        background-color: var(--clr, var(--item-default-color));
        position: relative;
        animation: item-height 1s ease forwards;
      }
    }
  }
  &-cards {
    flex: 1 1 35%;

    h3 {
      margin-bottom: 2rem;
    }
  }

  .cart {
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.5rem;
    }
    &__logo {
    }

    &__number {
      margin-bottom: 1.5rem;
    }

    &__info {
      font-size: 1.2rem;
      display: flex;
      justify-content: space-between;

      & span {
        display: block;

        &:first-child {
          font-size: 1rem;
          color: var(--gray-clr-light);
        }
      }
    }

    &__add-new {
      button {
        font-size: 1.7rem;
        width: 100%;
        margin-top: 2.5rem;
        padding: 1.5rem;
        background-color: var(--rose-light);
        color: var(--rose-dark);
        border: none;
        border-radius: 1rem;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.35s;

        &:hover {
          background-color: var(--rose-hover);
        }
      }
    }
  }

  &-creditcart {
    padding: 2rem;
    width: 100%;
    background-color: var(--rose-dark);
    color: #fff;
    border-radius: 10px;
  }

  .chart__header {
    display: flex;
    justify-content: space-between;

    &-info-box {
      display: flex;
      gap: 0.8rem;

      & > p {
        display: flex;
        align-items: center;
        gap: 0.3rem;
      }
      & span {
        display: block;
      }

      & p:first-child::before {
        content: '';
        background-color: var(--rose-dark);
        width: 1rem;
        height: 1rem;
        display: block;
        border-radius: 50%;
      }
      & p:last-child::before {
        content: '';
        background-color: var(--rose-light);
        width: 1rem;
        height: 1rem;
        display: block;
        border-radius: 50%;
      }
    }
  }
}
