.transations {
  display: flex;
  gap: 2.5rem;
  width: 100%;

  &__left,
  &__right {
    border: 1px solid var(--gray-clr-light);
    border-radius: 5px;
    padding: 2.4rem;
  }

  &__left {
    flex: 1 1 65%;
  }

  &__right {
    flex: 1 1 35%;

    h3 {
      margin-bottom: 1.5rem;
    }

    .pot {
      h4 {
        margin-bottom: 0.5rem;
      }

      &__list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
      &__item {
        border: 1px solid var(--aside-bg);
        border-radius: 1rem;
        padding: 0.3rem;

        & button {
          border: none;
          background-color: var(--broun-light);
          padding: 0.5rem 0.9rem;
          cursor: pointer;
        }
      }

      &__bar {
        width: 100%;
        height: 1rem;
        background-color: var(--aside-bg);
        border: 1px solid var(--gray-clr-light);
        border-radius: 50rem;
        overflow: hidden;
        position: relative;

        &.one::after {
          width: 20%;
        }
        &.two::after {
          width: 50%;
        }

        &::after {
          content: '';
          display: block;
          background-color: var(--rose-dark);
          height: 100%;
          position: absolute;
        }
      }

      &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &__new {
        button {
          font-size: 1.7rem;
          width: 100%;
          margin-top: 2.5rem;
          padding: 1.5rem;
          background-color: var(--rose-light);
          color: var(--rose-dark);
          border: none;
          border-radius: 1rem;
          font-weight: 600;
          cursor: pointer;
          transition: all 0.35s;

          &:hover {
            background-color: var(--rose-hover);
          }
        }
      }
    }
  }
}

table {
  width: 100%;

  thead {
    tr {
      display: flex;
      justify-content: space-between;

      td {
        padding-left: 2px;
        border-left: 5px solid var(--gray-clr);
        background-color: var(--gray-clr-light);
        width: 100%;
      }
    }
  }

  tbody {
    tr {
      display: flex;
      justify-content: space-between;

      td {
        padding-left: 2px;
        border-left: 5px solid transparent;
        width: 100%;
      }
    }
  }
}
