.aside {
  flex: 1 0 26%;

  height: 100vh;

  background-color: var(--aside-bg);

  &__img {
    width: 100%;
    height: 18rem;
    object-fit: cover;
  }

  &__actions {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;

    button {
      border: none;
      width: 80%;
      padding: 0.6rem 1.2rem;
      background-color: var(--rose-dark);
      color: var(--rose-light);
      cursor: pointer;
      border-radius: 1rem;
      box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.05);
      transition: all 0.4s ease-in-out;

      &:first-child {
        background-color: var(--green-light);
        color: var(--green-dark);
      }

      &:last-child {
        background-color: var(--red-light);
        color: var(--red-dark);
      }

      &:hover {
        background-color: var(--rose-hover);
        box-shadow: 0 0.6rem 0.9rem rgba(0, 0, 0, 0.05);
      }
    }
  }
}
