/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  letter-spacing: 1.1;
  font-size: 1.6rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}
